<body>
<header class="p-3 text-bg-dark">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-white">На главную</a></li>
                <li><a href="{{ url_for('articles') }}" class="nav-link px-2 text-white">Галерея</a></li>
                <li><a href="{{ url_for('contact') }}" class="nav-link px-2 text-white">Контакты</a></li>
            </ul>
            {% for message in get_flashed_messages() %}
            <div class="flash-message">
                {{ message }}
            </div>
            {% endfor %}
            <div class="text-end">
                {% if session['username'] %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ url_for ('static', filename='images/avatars/avatar.png') }}" alt="avatar"
                             width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="/profile">Мой профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('sign_out') }}">Выйти</a></li>
                    </ul>
                </div>
                {% else %}
                <a href="{{ url_for('sign_in') }}">
                    <button type="button" class="btn btn-outline-light me-2">Войти</button>
                </a>
                <a href="{{ url_for('sign_up') }}">
                    <button type="button" class="btn btn-outline-light me-2" style="background: #05c61a">
                        Зарегистрироваться
                    </button>
                </a>
                {% endif %}

            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<footer class="py-3 my-4" style="background: #212529">
    <ul class="nav justify-content-center  pb-0 mb-0">
        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 text-body-secondary"><font
                color="#d3d3d3"><strong>На главную</strong></font></a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link px-2 text-body-secondary"><font
                color="#d3d3d3"><strong>Контакты</strong></font></a></li>
    </ul>
</footer>
</body>
